*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color:cadetblue
}

/* .card button {
  font-size: 5em;
} */